*{
  box-sizing: border-box;
}
body{
  background-image: url("./assets/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 1.2rem;

  width: 80%;
  word-wrap: break-word;
  height: auto;
  color: black;
}
img {
  width: 100px;
  height: auto;
}

.sideNavBar {
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  z-index: 1000;
  text-align: center;
  
}

.sideNavBar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sideNavBar a:hover {
  color: #f1f1f1;
  background-color: #26A69A;
}

.main {
  margin-left: 18%;
  font-size: 28px;
  padding-top: 10%;
  color: white;
}

#msg{
  background-color: white;

}
#container-msg{
  width: 80%;
  height: 300px;
  background-color: white;
  overflow: scroll;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#alias{
  background-color: white;
  width: 150px;
  height: 30px;
}
#label-alias{
color: white;
}

.hidden {
  display: none;
}

